{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ STATIC_URL }}styles/feeds.css" type="text/css" />
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}scripts/feed.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
<ul id="user-nav">
  {% if user.is_authenticated %}
    <li>{{ user }}</li>
    <li><a href="{% url import %}">Import OPML</a></li>
    <li><a href="{% url auth_logout %}">Sign out</a></li>
  {% else %}
    <li><a href="{% url auth_login %}">Sign in</a></li>
  {% endif %}
</ul>


<ul id="feed-nav">
  {% if user.is_authenticated %}
    <li><a href="{% url label label_name='READING' %}">All Items</a></li>
    <li><a href="{% url label label_name='SHARING' %}">Your Shared Items</a></li>
  {% endif %}  
  <li><a href="{% url label label_name='ALL_SHARED' %}">Other's Shared Items</a></li>
  {% if user.is_authenticated %}
    <li class="list-heading">Users</li>
    <li>
      <ul id="users">
        {% for user in users.all %}
          <li>
            <a class="feed" href="{% url user_feed user_id=user.id %}">
              {{ user }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
    <li class="list-heading">Feeds</li>
    <li>
      <ul id="feeds">
        {% for feed in user.feeds.all %}
          <li>
            <a class="feed" href="{% url feed feed_id=feed.id %}">
              {{ feed }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endif %}
</ul>

<div id="content">
  {% block content %}{% endblock %}
</div>
{% endblock %}
